<div class="different">
	<div class="different__left-side">
		<h2 class="different__main-title">Генеральная уборка</h2>
		<p>Тип удаляемых загрязнений: максимально возможные</p>
		<div class="different__list">
			<h4 class="different__list-title">комнаты:</h4>
			<ul>
				<li>
					Мытье окон с обеих сторон (кроме зимнего периода), мытье оконных рам, подоконников, карнизов, батарей, труб
				</li>
				<li>Мытье и полировка зеркальных и стеклянных поверхностей, удаление спонтанных и въевшихся загрязнений</li>
				<li>Складываем одежду и расставляем вещи по местам</li>
				<li>Замена постельного белья</li>
				<li>
					Удаление пыли со всех доступных поверхностей включая стены и потолок (убираем паутину, спонтанные и въевшиеся
					загрязнения, скопления пыли в труднодоступных местах)
				</li>
				<li>
					Сухая и влажная уборка пола и плинтуса с использованием специальной техники, пылесосов и ручного инвентаря
				</li>
				<li>Комплексная уборка входных групп, дезинфекция дверных ручек</li>
				<li>Вытираем пыль с поверхности рабочего стола, тумбочек, шкафов</li>
				<li>Утилизация мусора, замена мусорных пакетов</li>
				<li>Очистка внутренней поверхности тумбочек, комодов, шкафов,свободных от вещей</li>
				<li>Сухая чистка ковровых покрытий и мягкой мебели с использованием пылесоса</li>
				<li>Проветриваем помещение, дезодарируем воздух</li>
				<li>Обеспыливаем светильники</li>
				<li>Обеспыливаем внешнюю часть бытовых приборов</li>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">кухня:</h4>
			<ul>
				<li>Сухая и влажная уборка пола, плинтуса</li>
				<li>
					Очистка кухонных фасадов и столешницы от ежедневных и въевшихся загрязнений с использованием безопасных
					гипоаллергенных веществ
				</li>
				<li>Моем посуду в течении 10 минут</li>
				<li>Сбор мусора, замена мусорных пакетов, очистим зону мусорного ведра</li>
				<li>Наружная и внутренняя очистка бытовой техники (плита, духовой шкаф, микроволновка, холодильник)</li>
				<li>Мытье вытяжки внутри и снаружи</li>
				<li>Очистка и полировка сантехники, смесителей</li>
				<li>Мытье зеркальных и стеклянных поверхностей, а также светильников на высоте до 3 метров от пола</li>
				<li>
					Мытье окон с обеих сторон (кроме зимнего периода), мытье оконных рам, подоконников, карнизов, батарей, труб
				</li>
				<li>Уборка кухонных шкафов изнутри, если они свободны от содержимого</li>
				<li>Стирка и развешивание до 1 барабана белья стиральной машины</li>
				<li>Мытье кухонного фартука</li>
				<li>Приберем на балконе , Протрём все доступные поверхности, кроме остекления, и помоем пол</li>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">санузлы:</h4>
			<ul>
				<li>Мытье ванны и душевой кабины, а также стенок и перегородок душевой</li>
				<li>
					Очистка и дезинфекция унитаза, биде, писсуаров, раковин изнутри и снаружи с использованием специальных
					гипоаллергенных средств
				</li>
				<li>Сухая и влажная уборка пола и стен на высоте до 2 метров от пола</li>
				<li>Очистка деталей интерьера и светильников на высоте до 2 метров от пола</li>
				<li>Сбор мусора, замена мусорных пакетов</li>
				<li>Очистка зеркальных поверхностей от спонтанных и въевшихся загрязнений</li>
				<li>Пылесосим коврик</li>
				<li>Замена полотенец</li>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">коридор:</h4>
			<ul>
				<li>Сухая и влажная уборка пола</li>
				<li>Удаление пыли со всех доступных поверхностей, включая стены и потолок</li>
				<li>Очистка зеркальных и стеклянных поверхностей</li>
				<li>Комплексная уборка входных групп, дезинфекция дверных ручек</li>
				<li>Расставляем обувь</li>
			</ul>
			<button class="different__button">заказать звонок</button>
			<div class="different__footer">
				<p>*В холодное время года мы моем окна с одной стороны.</p>
				<p>Что мы не делаем:</p>
				<ul>
					<li class="point">Не двигаем мебель</li>
					<li class="point">Не проводим химчистку мебели и ковров (закажите дополнительно услугу "Химчистка")</li>
					<li class="point">Не моем хрустальные люстры и светильники</li>
					<li class="point">Не чистим шторы и жалюзи</li>
					<li class="point">Не моем лестничную клетку в подъезде</li>
					<li class="point">Не моем потолки</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="different__right-side">
		<h2 class="different__main-title">Поддерживающая уборка</h2>
		<p>Тип удаляемых загрязнений: легкие, средние</p>
		<div class="different__list">
			<h4 class="different__list-title">комнаты:</h4>
			<ul>
				<span>
					Мытье окон с обеих сторон (кроме зимнего периода), мытье оконных рам, подоконников, карнизов, батарей, труб
				</span>
				<li>Мытье и полировка зеркальных и стеклянных поверхностей, удаление спонтанных и въевшихся загрязнений</li>
				<li>Складываем одежду и расставляем вещи по местам</li>
				<li>Замена постельного белья</li>
				<li>
					Удаление пыли со всех доступных поверхностей включая стены и потолок (убираем паутину, спонтанные и въевшиеся
					загрязнения, скопления пыли в труднодоступных местах)
				</li>
				<li>
					Сухая и влажная уборка пола и плинтуса с использованием специальной техники, пылесосов и ручного инвентаря
				</li>
				<li>Комплексная уборка входных групп, дезинфекция дверных ручек</li>
				<li>Вытираем пыль с поверхности рабочего стола, тумбочек, шкафов</li>
				<li>Утилизация мусора, замена мусорных пакетов</li>
				<span>Очистка внутренней поверхности тумбочек, комодов, шкафов,свободных от вещей</span>
				<li>Сухая чистка ковровых покрытий и мягкой мебели с использованием пылесоса</li>
				<li>Проветриваем помещение, дезодарируем воздух</li>
				<li>Обеспыливаем светильники</li>
				<li>Обеспыливаем внешнюю часть бытовых приборов</li>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">кухня:</h4>
			<ul>
				<li>Сухая и влажная уборка пола, плинтуса</li>
				<li>
					Очистка кухонных фасадов и столешницы от ежедневных и въевшихся загрязнений с использованием безопасных
					гипоаллергенных веществ
				</li>
				<li>Моем посуду в течении 10 минут</li>
				<li>Сбор мусора, замена мусорных пакетов, очистим зону мусорного ведра</li>
				<li>
					Наружная <span class="marker">и внутренняя</span> очистка бытовой техники (плита, духовой шкаф, микроволновка,
					холодильник)
				</li>
				<span>Мытье вытяжки внутри и снаружи</span>
				<li>Очистка и полировка сантехники, смесителей</li>
				<li>Мытье зеркальных и стеклянных поверхностей, а также светильников на высоте до 3 метров от пола</li>
				<span>
					Мытье окон с обеих сторон (кроме зимнего периода), мытье оконных рам, подоконников, карнизов, батарей, труб
				</span>
				<span>Уборка кухонных шкафов изнутри, если они свободны от содержимого</span>
				<span>Стирка и развешивание до 1 барабана белья стиральной машины</span>
				<span>Мытье кухонного фартука</span>
				<span>Приберем на балконе , Протрём все доступные поверхности, кроме остекления, и помоем пол</span>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">санузлы:</h4>
			<ul>
				<li>Мытье ванны и душевой кабины, а также стенок и перегородок душевой</li>
				<li>
					Очистка и дезинфекция унитаза, биде, писсуаров, раковин изнутри и снаружи с использованием специальных
					гипоаллергенных средств
				</li>
				<li>Сухая и влажная уборка пола и стен на высоте до 2 метров от пола</li>
				<li>Очистка деталей интерьера и светильников на высоте до 2 метров от пола</li>
				<li>Сбор мусора, замена мусорных пакетов</li>
				<li>Очистка зеркальных поверхностей от спонтанных и въевшихся загрязнений</li>
				<li>Пылесосим коврик</li>
				<li>Замена полотенец</li>
			</ul>
		</div>
		<div class="different__list">
			<h4 class="different__list-title">коридор:</h4>
			<ul>
				<li>Сухая и влажная уборка пола</li>
				<li>Удаление пыли со всех доступных поверхностей, включая стены и потолок</li>
				<li>Очистка зеркальных и стеклянных поверхностей</li>
				<li>Комплексная уборка входных групп, дезинфекция дверных ручек</li>
				<li>Расставляем обувь</li>
			</ul>
			<button class="different__button">заказать звонок</button>
		</div>
	</div>
</div>
