@import '../../../styles/variables.scss';
.page-404 {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: $white;
	background:
		url(../../../assets/404/Frame.svg) center,
		url(../../../assets/404/Vector-1.svg) center,
		url(../../../assets/404/Vector.svg) right 20% center,
		url(../../../assets/404/Vector.svg) left 20% center,
		url(../../../assets//404/miniGroup1.svg) top 6.3% left 17.6%,
		url(../../../assets//404/miniGroup2.svg) top 80.31% left 59.11%,
		url(../../../assets//404/miniGroup3.svg) top 10.93% left 61.61%,
		url(../../../assets//404/miniGroup4.svg) top 60.5% left 85.79%,
		url(../../../assets//404/miniGroup5.svg) top 25.56% left 29.06%,
		url(../../../assets//404/Ellipse5.svg),
		url(../../../assets//404/Ellipse6.svg) top 15.46% left no-repeat,
		url(../../../assets//404/Oval.svg),
		url(../../../assets//404/Path3.svg) top 100% left 100%,
		url(../../../assets//404/Path4-1.svg) top 100% left,
		url(../../../assets//404/Path4.svg) top left 100%,
		url(../../../assets//404/miniGroup6.svg) top left 59.79%,
		url(../../../assets//404/miniGroup7.svg) top 71.76% left 17.08%,
		url(../../../assets//404/miniGroup8.svg) top 70.83% left 48.96%,
		url(../../../assets//404/miniOval-1.svg) top 29.91% left 87.55%,
		url(../../../assets//404/miniOval-2.svg) top 76.2% left 27.81%,
		url(../../../assets//404/miniOval-3.svg) top 61.2% left 68.23%,
		url(../../../assets//404/miniOval-4.svg) top 50.83% left 97.03%,
		url(../../../assets//404/miniOval.svg) top 10.19% left 40.36%,
		url(../../../assets//404/miniEllipse3.svg) top 45.19% left 9.32%,
		url(../../../assets//404/miniEllipse4.svg) top 27.87% left 7542%;

	background-repeat: no-repeat;

	h2 {
		position: absolute;
		top: 65%;
		left: 37%;
		color: $black;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 44px; /* 183.333% */
		text-transform: capitalize;
	}
	button {
		position: absolute;
		top: 73%;
		left: 39%;
		width: 490px;
		height: 20px;
		padding: 20px 56px 20px 65px;
		border-radius: 10px;
		background: #c45645;
		color: #f5f5f5;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		text-transform: lowercase;
		border: none;
	}
}
