@import '../../../styles/variables.scss';

.footer-label_dark {
	color: $root;
}
.footer-label_light {
	color: $light-green;
}
.footer-label {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	margin-top: 0;
  font-weight: bold;
	@media (max-width: $desktop) {
		font-size: 24px;
	}
}

.footer {
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: $desktop) {
    padding-bottom: 50px;
  }
}
.wrapper {
	position: relative;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	width: 1180px;
	max-width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	@media (max-width: 1180px) {
		flex-wrap: wrap;
		gap: 55px;
		justify-content: unset;
		flex-direction: column-reverse;
		align-items: flex-start;
		padding: 0 15px;
	}
}
.footer-contact {
	@media (max-width: $desktop) {
		width: 100%;
    z-index: 2;
	}
}
.footer-wrapper-contact {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 25px;
	img {
		text-decoration: none;
		width: 40px;
		height: 40px;
	}
	p,
	a {
		text-decoration: none;
		color: $root;
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
		@media (max-width: $desktop) {
			font-size: 15px;
		}
	}
}
.footer-wrapper-socialmedia {
	display: flex;
	align-items: center;
	gap: 15px;

	img {
		width: 30px;
		height: 30px;
	}
}
.footer-image {
	border-radius: 5px;
	width: 385px;
	height: 317px;
	background-image: url(../../../assets/images/footer.png);
	@media (max-width: $desktop) {
		display: none;
	}
}

.footer-requisites {
	max-width: 380px;
	display: flex;
	flex-direction: column;
}

.footer-requisites-link {
	text-decoration: none;
	color: $light-green;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	@media (max-width: $desktop) {
		font-size: 15px;
	}
}
.requisites-wrapper {
	margin-bottom: 8px;
}
.requisites-wrapper p {
	margin: 0px;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 23.5px;
	@media (max-width: $desktop) {
		font-size: 15px;
	}
}
.bubble {
	position: absolute;
  width: 315px;
  height: 348px;
  background-image: url("../../../assets/svg/bubble.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: -213px;
  bottom: -242px;
  @media (max-width: $desktop) {
    right: -120px;
    bottom: -80px;
    z-index: 1;
  }
}
