<div class="wrapper">
  <h3>Генеральная уборка</h3>

  <p>Генеральная уборка – это ежемесячный ритуал, который забирает у хозяев полноценный день. А этот день вы можете провести с пользой и удовольствием, доверив хлопоты по дому профессиональным клинерам. У себя дома вы отдыхаете, работаем мы.
  Генеральная уборка с LA CLEAN включает широкий перечень услуг, ведь нам нужно навести порядок от пола до потолка, учитывая все труднодоступные места.</p>

  <p>Генеральной уборкой принято называть процесс тщательного наведения порядка в помещении. Выполняя комплексную уборку, проводится очистка всех видов поверхностей от грязи и пятен. При такой уборке помещений мы используем особые моющие и экологически безопасные чистящие средства, не вызывающие аллергических реакций, и современное специальное оборудование.
  Профессиональная генеральная уборка – залог здоровья всех жильцов квартиры или загородного дома, а также домашних животных.
  Генеральная уборка популярна среди людей, страдающих аллергией и астмой. Назначенный вам уборщик может сосредоточиться, в частности, на общих триггерах аллергии, таких как собачья или кошачья шерсть, шерсть животных или пыль.
  Кроме того, мы рекомендуем генеральную уборку при въезде и выезде. Когда вы выезжаете из арендованной квартиры, всегда полезно оставить ее в хорошем состоянии, чтобы вернуть залог. При переезде на новое место очень часто требуется тщательная уборка. В обоих случаях мы можем помочь!
  При заказе услуги генеральной уборки советуем дать нам подробное описание необходимых вам «нестандартных» услуг. Наши клинеры могут принести с собой пароочиститель или специальные моющие средства, необходимые для удаления плесени, но нужно заранее знать, что требуется.
  Пакет услуг от LA CLEAN формируется индивидуально с учетом ваших потребностей и пожеланий. Просто оставьте заявку, и мы подберем вам идеальное чистящее средство или оборудование для вашей ситуации.
    Заказать клининговые услуги, связанные с генеральной уборкой можно в любое время суток. Постоянные клиенты всегда получают выгодные скидки.</p>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
  </div>
</div>
