<div class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <img src="./assets/images/logo.png" alt="LA CLEAN"/>
      <div><span>Профессиональные<br /> клининговые услуги</span></div>
    </div>
    <ul class="header__menu">
      <li>УСЛУГИ</li>
      <li>О НАС</li>
      <li>КОНТАКТЫ</li>
      <li>НАШИ РАБОТЫ</li>
    </ul>
    <div class="header__phone">
      <mat-icon> phone</mat-icon>
      <a href="tel:455-440-440">455-440-440</a>
    </div>
    <button mat-button>Заказать звонок</button>
  </div>
</div>
