<div class="header" [class.header-open]="this.isOpen">
  <div class="header__wrapper" >
    <div class="header__logo">
      <a href="/">
        <img src="/assets/images/logo.png" alt="LA CLEAN"/>
      </a>
      <div><span>Профессиональные<br /> клининговые услуги</span></div>
    </div>
    <ul class="header__menu">
      <li (click)="onClickScroll('price')">УСЛУГИ</li>
      <li (click)="onClickScroll('company')">О НАС</li>
      <li (click)="onClickScroll('footer')">КОНТАКТЫ</li>
      <li (click)="onClickScroll('clean')">НАШИ РАБОТЫ</li>
    </ul>
    <div class="header__phone">
      <mat-icon> phone</mat-icon>
      <a href="tel:{{SOCIAL.PHONE}}">{{SOCIAL.PHONE}}</a>
    </div>
    <button mat-button class="call" (click)="openModal()">Заказать звонок</button>
    <button mat-icon-button class="btn" aria-label="Menu" (click)="openMenu()">
      <mat-icon> {{isOpen ? 'close' : 'menu' }}</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="isOpen" class="mobile-menu">
  <div class="wrapper">
    <a class="phone" href="tel:{{SOCIAL.PHONE}}">
      <button mat-button ><mat-icon>phone</mat-icon>{{SOCIAL.PHONE}}</button>
    </a>
    <button mat-button class="call" (click)="openModal()">Заказать звонок</button>
    <ul class="mobile-menu__social">
      <ng-container *ngFor="let link of links">
        <a [href]="link" target="_blank" ><li></li></a>
      </ng-container>
    </ul>
    <div class="mobile-menu__block">
      <div class="mobile-menu__block-title">УСЛУГИ</div>
      <ul class="mobile-menu__block-option" >
        <li (click)="onClickScroll('price')">Генеральная уборка</li>
        <li (click)="onClickScroll('price')">Поддерживающая уборка</li>
        <li (click)="onClickScroll('price')">Мытье окон</li>
        <li (click)="onClickScroll('price')">Химчистка</li>
      </ul>
    </div>
    <div class="mobile-menu__block">
      <div class="mobile-menu__block-title">О НАС</div>
      <ul class="mobile-menu__block-option">
        <li (click)="onClickScroll('company')">Информация о компании</li>
        <li (click)="onClickScroll('price')">Расчет стоимости услуг</li>
        <li>популярные вопросы</li>
        <li (click)="onClickScroll('clean')">Отзывы</li>
      </ul>
    </div>
    <div class="mobile-menu__block" (click)="onClickScroll('footer')">
      <div class="mobile-menu__block-title" (click)="onClickScroll('footer')">КОНТАКТЫ</div>
    </div>
    <div class="mobile-menu__block">
      <div class="mobile-menu__block-title">НАШИ РАБОТЫ</div>
    </div>
  </div>
</div>
