<section class="work">
	<div class="work__bubble"></div>
	<div class="work__title">как мы <span>работаем</span> ?</div>
	<div class="work__road road">
		<div class="road__container">
			<div class="road__cell">
				<p>01.</p>
				<span> </span>
			</div>
			<p>узнайте цену и оформите заявку на сайте</p>
		</div>
		<div class="road__container">
			<div class="road__cell">
				<p>02.</p>
				<span> </span>
			</div>
			<p>выезд команды на уборку</p>
		</div>
		<div class="road__container">
			<div class="road__cell">
				<p>03.</p>
				<span> </span>
			</div>
			<p>подписываем с вами договор</p>
		</div>
		<div class="road__container">
			<div class="road__cell">
				<p>04.</p>
				<span> </span>
			</div>
			<p>убираем</p>
		</div>
		<div class="road__container">
			<div class="road__cell">
				<p>05.</p>
				<span> </span>
			</div>
			<p>вы принимаете и оплачиваете услугу</p>
		</div>
		<div class="road__container">
			<div class="road__cell">
				<p>06.</p>
			</div>
			<p>наслаждаетесь свежестью и чистотой</p>
		</div>
	</div>
	<div class="work__preview">
		<div class="work__image">
			<div class="work__image__grid-column1">
				<div class="work__image__grid-column1-bg"></div>
				<div class="work__image__grid-column1-img"></div>
			</div>
			<div class="work__image__grid-column2">
				<div class="work__image__grid-column2-img"></div>
				<div class="work__image__grid-column2-bg"></div>
			</div>
		</div>
		<div class="work__option">
			<p>Хотите, чтобы быстро и качественно убрали квартиру? <span>Заказывайте клининг в LA CLEAN!</span></p>
			<div class="work__option__form">
				<p>ОФОРМИТЬ ЗАЯВКУ НА УБОРКУ</p>
				<div class="work__button__container">
					<div class="work__input input-effect">
						<input class="work__preview__input-effect" type="text" placeholder="Имя" required />
						<label>Имя</label>
						<span class="work__preview__focus-border"></span>
					</div>

					<div class="work__input input-effect">
						<input class="work__preview__input-effect" type="text" placeholder="Телефон" required />
						<label>Телефон</label>
						<span class="work__preview__focus-border"></span>
					</div>

					<input class="work__preview__button" type="button" value="Заказать звонок" />
				</div>
			</div>
		</div>
	</div>
</section>
