<section class="howWork-container">
	<div class="howWork-container-label howWork-container-label_dark">
		как мы <span class="howWork-container-label howWork-container-label_light">работаем</span> ?
	</div>
	<div class="howWork-road">
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>01.</p>
				<span class="howWork-road-cell-line"> </span>
			</div>
			<p class="howWork-road-cell-label">узнайте цену и оформите заявку на сайте</p>
		</div>
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>02.</p>
				<span class="howWork-road-cell-line"> </span>
			</div>
			<p class="howWork-road-cell-label">выезд команды на уборку</p>
		</div>
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>03.</p>
				<span class="howWork-road-cell-line"> </span>
			</div>
			<p class="howWork-road-cell-label">подписываем с вами договор</p>
		</div>
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>04.</p>
				<span class="howWork-road-cell-line"> </span>
			</div>
			<p class="howWork-road-cell-label">убираем</p>
		</div>
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>05.</p>
				<span class="howWork-road-cell-line"> </span>
			</div>
			<p class="howWork-road-cell-label">вы принимаете и оплачиваете услугу</p>
		</div>
		<div class="howWork-road-cell-container">
			<div class="howWork-road-cell">
				<p>06.</p>
			</div>
			<p class="howWork-road-cell-label">наслаждаетесь свежестью и чистотой</p>
		</div>
	</div>
	<div class="howWork-preview-container">
		<div class="howWork-preview-image">
			<div class="howWork-grid-column1">
				<div class="howWork-grid-column1-bg"></div>
				<div class="howWork-grid-column1-img"></div>
			</div>
			<div class="howWork-grid-column2">
				<div class="howWork-grid-column2-img"></div>
				<div class="howWork-grid-column2-bg"></div>
			</div>
		</div>
		<div class="howWork-preview-infonmation">
			<p>Хотите, чтобы быстро и качественно убрали квартиру? <span>Заказывайте клининг в LA CLEAN!</span></p>
			<div class="howWork-preview-form">
				<p>ОФОРМИТЬ ЗАЯВКУ НА УБОРКУ</p>
				<div class="howWork-button-container">
					<div class="col-3 input-effect">
						<input class="effect-16" type="text" placeholder="Имя" required />
						<label>Имя</label>
						<span class="focus-border"></span>
					</div>

					<div class="col-3 input-effect">
						<input class="effect-16" type="text" placeholder="Телефон" required />
						<label>Телефон</label>
						<span class="focus-border"></span>
					</div>

					<input class="howWork-button" type="button" value="Отправить" />
				</div>
			</div>
		</div>
	</div>
</section>
