<section class="cleanInfo">
	<div class="cleanInfo__options">
		<p>Чем чаще уборка, <span>тем выше скидка</span></p>
		<div class="cleanInfo__options__button">
			<div class="cleanInfo__options__button__container">
				<button>-20%</button>
				<span>раз в неделю</span>
			</div>
			<div class="cleanInfo__options__button__container">
				<button>-15%</button>
				<span>раз в две недели</span>
			</div>
			<div class="cleanInfo__options__button__container">
				<button>-10%</button>
				<span>раз в три неделю</span>
			</div>
			<button>разовая уборка</button>
		</div>
		<p>Аллергия. Дети.Животные - <span>особенности уборки</span></p>
		<div class="cleanInfo__options__features">
			<div class="cleanInfo__options__features-img__container">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<p>
				Если у вас есть дети, животные или вы страдаете аллергией, мы поможем избавиться от вредных микробов и
				раздражителей с помощью профессионального оборудования и экохимии, подберем индивидуальный состав средств и
				дезинфецируем помещение паром, только сообщите об этом нашему менеджеру.
			</p>
		</div>
		<div class="cleanInfo__form">
			<div class="cleanInfo__form__input-container">
				<div class="cleanInfo__input input-effect">
					<input class="cleanInfo__preview__input__effect" type="text" placeholder="Имя" required />
					<label>Имя</label>
					<span class="cleanInfo__preview__focus-border"></span>
				</div>
				<div class="cleanInfo__input input-effect">
					<input class="cleanInfo__preview__input__effect" type="tel" placeholder="Телефон" required />
					<label>Телефон</label>
					<span class="cleanInfo__preview__focus-border"></span>
				</div>
				<div class="cleanInfo__input input-effect">
					<input class="cleanInfo__preview__input__effect" type="email" placeholder="Емаил" required />
					<label>Емаил</label>
					<span class="cleanInfo__preview__focus-border"></span>
				</div>
			</div>
			<textarea
				name=""
				id=""
				cols="30"
				rows="10"
				placeholder="комментарии к заказу, укажите ваш адрес, способ связи с вами, Дату и время"
			></textarea>
			<p>*данный расчет является предварительным, точную стоимость менеджер компании озвучит после осмотра помещения</p>
			<p>*наличный или безналичный расчет только после приемки оказанных услуг</p>
			<a href="/"><p>С юридическими лицами работаем на индивидуальных условиях</p></a>
		</div>
	</div>
	<div class="cleanInfo__order">
		<div class="cleanInfo__order__check">
			<h4>Проверьте ваш заказ:</h4>
			<p>Общая площадь: <span>100 м2</span></p>
			<p>Помещение: <span>квартира</span></p>
			<p>Вид уборки: <span>Поддерживаящая</span></p>
			<p>Периодичность: <span>разовая уборка</span></p>
			<p>Дополнительные услуги:<span>помыть духовку, взять на уборку пылесос, доставить ключи после уборки</span></p>
		</div>
		<button>Заказать</button>
		<p>при оставлении заявки, нажимая на кнопку, вы даете согласие на обработку ваших персональных данных</p>
	</div>
</section>
