<section class="clean-info">
	<div class="clean-info__options">
		<p>Чем чаще уборка, <span>тем выше скидка</span></p>
		<div class="clean-info__options__button">
      <ng-container *ngFor="let type of typesClean">
        <div class="clean-info__options__button__container" *ngIf="type.percent; else oneClean">
          <button (click)="changeClean(type.title)" [class.active]="typeClean === type.title">{{type.percent}}%</button>
          <span>{{type.title}}</span>
        </div>
        <ng-template #oneClean>
          <div class="clean-info__options__button__container">
            <button (click)="changeClean(type.title)" [class.active]="typeClean === type.title">{{type.title}}</button>
          </div>
        </ng-template>
      </ng-container>
		</div>
		<p>Аллергия. Дети.Животные - <span>особенности уборки</span></p>
		<div class="clean-info__options__features">
			<div class="clean-info__options__features-img__container">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<p>
				Если у вас есть дети, животные или вы страдаете аллергией, мы поможем избавиться от вредных микробов и
				раздражителей с помощью профессионального оборудования и экохимии, подберем индивидуальный состав средств и
				дезинфецируем помещение паром, только сообщите об этом нашему менеджеру.
			</p>
		</div>
		<div class="clean-info__form">
      <form [formGroup]="orderForm">
        <div class="clean-info__form__input-container">
          <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
        </div>
        <div class="clean-info__form-textarea">
          <mat-form-field>
          <textarea
            matInput
            placeholder="комментарии к заказу, укажите ваш адрес, способ связи с вами, Дату и время"
            cols="30"
            rows="5"
            formControlName="message"
          ></textarea>
          </mat-form-field>
        </div>
      </form>

			<p>*данный расчет является предварительным, точную стоимость менеджер компании озвучит после осмотра помещения</p>
			<p>*наличный или безналичный расчет только после приемки оказанных услуг</p>
			<a href="/">С юридическими лицами работаем на индивидуальных условиях</a>
		</div>
	</div>
	<div class="clean-info__order">
		<div class="clean-info__order__check">
			<h4>Проверьте ваш заказ:</h4>
			<p>Общая площадь: <span>{{square}} м2</span></p>
			<p>Помещение: <span>{{place}}</span></p>
			<p>Вид уборки: <span>{{getTypesCleanCheckBox}}</span></p>
			<p>Периодичность: <span>{{typeClean}}</span></p>
			<p>Дополнительные услуги:<span>{{getOptions}}</span></p>
		</div>
		<button (click)="sendOrder()">Заказать</button>
		<p>при оставлении заявки, нажимая на кнопку, вы даете согласие на обработку ваших персональных данных</p>
	</div>
</section>
