<section class="questions-container">
	<h2>часто задаваемые <span>вопросы</span></h2>
	<div class="questions-grid-parent">
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">У нас будет один специальный уборщик?</h3>
				<p class="questions-grid-text">
					Если вы специально не запрашиваете смену уборщика, мы всегда стараемся назначать одного и того же уборщика на
					все ваши встречи. В некоторых редких случаях нам может потребоваться назначить нового человека для вашего
					бронирования из-за непредвиденных обстоятельств, таких как болезнь или несчастный случай.
				</p>
			</div>
		</div>

		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Что делать, если мне нужно перенести встречу?</h3>
				<p class="questions-grid-text">
					Если вам нужно перенести встречу, свяжитесь с нашей службой поддержки клиентов по телефону или электронной
					почте, указав новую предпочтительную дату встречи. Имейте в виду, что такие изменения должны быть внесены не
					позднее, чем за 48 часов до первоначальной даты встречи.
				</p>
			</div>
		</div>

		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Если у меня нет пылесоса?</h3>
				<p class="questions-grid-text">
					Об этом нужно предупредить менеджера и клинер возьмет его с собой. Наш пылесос можно выбрать в дополнительных
					услугах.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Можете ли вы убраться в нерабочее время?</h3>
				<p class="questions-grid-text">Уборку можно запланировать на любое время дня и ночи (24/7), 365 дней в году.</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Есть ли скидки, если я буду заказывать уборку регулярно?</h3>
				<p class="questions-grid-text">
					Да, есть скидки. Уборка раз в месяц – 10%, раз в две недели – 15%, раз в неделю – 20%. Об этом тоже нужно
					сказать менеджеру и вы получите промокод, который можно будет использовать при заказе для меньшей цены.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Как считать количество санузлов?</h3>
				<p class="questions-grid-text">
					Количество санузлов считается по ваннам и душевым кабинам. Например, если в вашей квартире одна ванна и один
					туалет в одном помещении или в разных – это 1 санузел.Одна ванна и два туалета – тоже 1 санузел. Две ванны или
					одна ванна и одна душевая кабина — уже 2 санузла.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Можно ли заказать уборку и химчистку одновременно?</h3>
				<p class="questions-grid-text">Да, химчистку у нас делают отдельные специалисты.</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Нужны ли моющие средства?</h3>
				<p class="questions-grid-text">
					Нет, наши сотрудники имеют с собой все средства. В случае, если вы пользуетесь только своими, вы можете их
					предложить клинеру.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Как посчитать окна?</h3>
				<p class="questions-grid-text">
					Обычное окно из двух створок считается как одно окно или же если одна створка в пол, тоже считается как одно
					окно. Если у вас окно состоит из трех створок – это 1.5 окна.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">
					Мне нужно, чтобы вы отодвинули мебель, убрали под ней, вернули всё на место. Справитесь?
				</h3>
				<p class="questions-grid-text">
					К сожалению, нет. У нас нет специального оборудования, чтобы передвигать мебель. Без него можно повредить ваше
					напольное покрытие и спину нашего клинера.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Делаете ли вы уборку после ремонта?</h3>
				<p class="questions-grid-text">
					Нет. На данный момент данная услуга недоступна для наших клиентов, но в дальнейшем мы планируем внести её в
					список предоставляемых нами услуг.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Какова минимальная продолжительность уборки, которую я могу забронировать?</h3>
				<p class="questions-grid-text">Минимальная продолжительность поддерживающей уборки – 3 часа.</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Как работает гарантия 100% удовлетворения?</h3>
				<p class="questions-grid-text">
					После уборки у вас есть 24 часа, чтобы проверить, нравится ли вам результат. Если вы не удовлетворены,
					свяжитесь с нашей службой поддержки по электронной почте или телефону и сообщите нам, что пошло не так. Вы
					можете запросить бесплатную корректирующую уборку (с той же или другой уборщицей, в зависимости от ваших
					предпочтений). Вы также можете иметь право на скидку на будущие уборки, а также на частичный или 100% возврат
					средств.
				</p>
			</div>
		</div>
		<div class="questions-cell">
			<img class="questions-grid-img" src="../../../assets/svg/question-circle.svg" alt="question" />
			<div>
				<h3 class="questions-grid-label">Я могу оставить клинера одного в квартире?</h3>
				<p class="questions-grid-text">
					Да. Вы можете оставить работника одного. Даже можно заказать услугу забрать у вас ключи и привезти их обратно
					после уборки.
				</p>
			</div>
		</div>
	</div>

	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">У нас будет один специальный уборщик?</summary>
			<p class="questions-grid-text">
				Если вы специально не запрашиваете смену уборщика, мы всегда стараемся назначать одного и того же уборщика на
				все ваши встречи. В некоторых редких случаях нам может потребоваться назначить нового человека для вашего
				бронирования из-за непредвиденных обстоятельств, таких как болезнь или несчастный случай.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Что делать, если мне нужно перенести встречу?</summary>
			<p class="questions-grid-text">
				Если вам нужно перенести встречу, свяжитесь с нашей службой поддержки клиентов по телефону или электронной
				почте, указав новую предпочтительную дату встречи. Имейте в виду, что такие изменения должны быть внесены не
				позднее, чем за 48 часов до первоначальной даты встречи.
			</p>
		</details>
	</div>

	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Если у меня нет пылесоса?</summary>
			<p class="questions-grid-text">
				Об этом нужно предупредить менеджера и клинер возьмет его с собой. Наш пылесос можно выбрать в дополнительных
				услугах.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Можете ли вы убраться в нерабочее время?</summary>
			<p class="questions-grid-text">Уборку можно запланировать на любое время дня и ночи (24/7), 365 дней в году.</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Есть ли скидки, если я буду заказывать уборку регулярно?</summary>
			<p class="questions-grid-text">
				Да, есть скидки. Уборка раз в месяц – 10%, раз в две недели – 15%, раз в неделю – 20%. Об этом тоже нужно
				сказать менеджеру и вы получите промокод, который можно будет использовать при заказе для меньшей цены.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Как считать количество санузлов?</summary>
			<p class="questions-grid-text">
				Количество санузлов считается по ваннам и душевым кабинам. Например, если в вашей квартире одна ванна и один
				туалет в одном помещении или в разных – это 1 санузел.Одна ванна и два туалета – тоже 1 санузел. Две ванны или
				одна ванна и одна душевая кабина — уже 2 санузла.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Можно ли заказать уборку и химчистку одновременно?</summary>
			<p class="questions-grid-text">Да, химчистку у нас делают отдельные специалисты.</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Нужны ли моющие средства?</summary>
			<p class="questions-grid-text">
				Нет, наши сотрудники имеют с собой все средства. В случае, если вы пользуетесь только своими, вы можете их
				предложить клинеру.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Как посчитать окна?</summary>
			<p class="questions-grid-text">
				Обычное окно из двух створок считается как одно окно или же если одна створка в пол, тоже считается как одно
				окно. Если у вас окно состоит из трех створок – это 1.5 окна.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">
				Мне нужно, чтобы вы отодвинули мебель, убрали под ней, вернули всё на место. Справитесь?
			</summary>
			<p class="questions-grid-text">
				К сожалению, нет. У нас нет специального оборудования, чтобы передвигать мебель. Без него можно повредить ваше
				напольное покрытие и спину нашего клинера.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Делаете ли вы уборку после ремонта?</summary>
			<p class="questions-grid-text">
				Нет. На данный момент данная услуга недоступна для наших клиентов, но в дальнейшем мы планируем внести её в
				список предоставляемых нами услуг.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">
				Какова минимальная продолжительность уборки, которую я могу забронировать?
			</summary>
			<p class="questions-grid-text">Минимальная продолжительность поддерживающей уборки – 3 часа.</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Как работает гарантия 100% удовлетворения?</summary>
			<p class="questions-grid-text">
				После уборки у вас есть 24 часа, чтобы проверить, нравится ли вам результат. Если вы не удовлетворены, свяжитесь
				с нашей службой поддержки по электронной почте или телефону и сообщите нам, что пошло не так. Вы можете
				запросить бесплатную корректирующую уборку (с той же или другой уборщицей, в зависимости от ваших предпочтений).
				Вы также можете иметь право на скидку на будущие уборки, а также на частичный или 100% возврат средств.
			</p>
		</details>
	</div>
	<div class="questions-cell-mobile">
		<details>
			<summary class="questions-grid-label-mobile">Я могу оставить клинера одного в квартире?</summary>
			<p class="questions-grid-text">
				Да. Вы можете оставить работника одного. Даже можно заказать услугу забрать у вас ключи и привезти их обратно
				после уборки.
			</p>
		</details>
	</div>

	<p class="questions-subLabel">
		Если вы не нашли ответ на свой вопрос,<a href="/"> свяжитесь с нами</a>, и мы с радостью Вам ответим.
	</p>
	<img class="questions-bubble" src="../../../assets//svg/bubble.svg" alt="bubble" />
</section>
