
@use '@angular/material' as mat;
@include mat.core();

$clear-primary: mat.define-palette(mat.$indigo-palette);
$clear-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$clear-warn: mat.define-palette(mat.$red-palette);
$clear-theme: mat.define-light-theme((
  color: (
    primary: $clear-primary,
    accent: $clear-accent,
    warn: $clear-warn,
  )
));

@include mat.all-component-themes($clear-theme);

@import url('https://fonts.googleapis.com/css2?family=Greycliff+CF:wght@300;400;500;600;700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; background: #F2F2F2; color: #4F4D4A }
