<section class="page-404">
	<div class="wrapper">
		<div class="boll boll-pink"></div>
		<div class="boll boll-blue"></div>
		<div class="boll boll-grey"></div>
		<div class="boll boll-light"></div>
		<div class="boll boll-orange"></div>
		<div class="boll boll-light-grey"></div>
		<div class="boll boll-violet"></div>
		<div class="boll boll-violet-light"></div>
		<div class="boll-404 boll-404-grey">404</div>
		<div class="boll-404 boll-404-yellow">404</div>
		<div class="boll-404 boll-404-grey-light">404</div>
		<div class="boll-404 boll-404-pink">404</div>
		<div class="boll-404 boll-404-blue">404</div>
		<div class="wrapper-smile"></div>
		<div class="container">
			<h1>404</h1>
			<h2>Упс, страница, которую вы искали, не найдена</h2>
			<a>вернуться на главную страницу</a>
		</div>
	</div>
</section>
