
<mat-dialog-content class="mat-typography">
  <h3 mat-dialog-title>Поддерживающая уборка</h3>
  <mat-dialog-content>
<!--    <div class="wrapper">-->
      <p>
        Каждому приятно находиться в чистом и убранном помещении, ведь чистота и порядок – залог отличного настроения и здорового образа жизни. Компания LA CLEAN предлагает услугу поддерживающей уборки квартиры. Аккуратность и максимальное трудолюбие нашего клининг-персонала позволяют добиться положительного результата от регулярной уборки за короткий промежуток времени.
        Рекомендуется проводить поддерживающую уборку не менее 2 раз в месяц. Так вы сохраняете здоровье всех членов собственной семьи, оберегаете их от плесени, негативного воздействия вредоносных микроорганизмов. К тому же чистота в доме – это попросту приятный стимул к дальнейшей деятельности, улучшение собственных жизненных сил и настроения.
        Поддерживающая уборка предназначена для людей, которые просто хотят, чтобы сотрудник клининговой компании приходил к ним домой по расписанию. Сеансы очистки можно назначать несколько раз в неделю, еженедельно, каждые 2 недели или даже каждые 4 недели.
        В рамках регулярного плана уборки у вас есть доступ к самой низкой цене, и у вашего клинера более организованный график, который они всегда ценят. Поддерживающая уборка – это беспроигрышный вариант для всех.
        Если ваш клинер не сможет выполнить обычную уборку, мы всегда сможем назначить замену. Вам не придется делать уборку самостоятельно. Вы также можете запросить смену назначенного уборщика по любой причине.
        В объем поддерживающей уборки входят типичные работы по уборке квартиры. Ваш уборщик протрет все доступные поверхности, пропылесосит и вымоет полы, уберет ванную и кухню. Как правило, все работы по отчистке помещений выполняются одним сотрудником, однако при необходимости на объект выедут несколько специалистов.
        Если вам нужны более специализированные услуги, такие как удаление плесени, или вы хотели бы получить более тщательную очистку перед началом регулярной уборки, мы приглашаем вас воспользоваться услугой генеральной уборки.
      </p>
<!--    </div>-->
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
  </mat-dialog-actions>
</mat-dialog-content>
