<h2 mat-dialog-title><b>Мойка окон</b></h2>
<mat-dialog-content class="mat-typography">
  <hr />
  <p>Мойка окон – обязательная и необходимая процедура, без которой просто невозможно получить красивое и опрятное жилище. Необходимо отметить, что данная процедура является довольно сложной, требующей большого количества сил и времени.</p>
  <p>Причин обратиться к квалифицированным специалистам клининговой компании за качественной мойкой окон может быть несколько – боязнь высоты, сильно загрязненные стекла или стеклопакеты, необходимость срочно отмыть окна от грязи. Если вы хотите избавиться от всех этих проблем или у вас просто нет времени на данное занятие, то LA CLEAN сделает это для вас.</p>
  <p>Качественная мойка окон за считанные часы гарантирована деловым, ответственным подходом и большим опытом работы в этой сфере. Вы гарантировано получаете превосходный результат, который вас сможет порадовать.</p>
  <p>Чистые стекла – это не только презентабельный внешний вид. Сквозь тщательно отмытые окна будет проходить больше солнечного света, что будет полезно не только владельцам квартир, домов, офисных помещений, но и растениям, которые стоят у вас на подоконнике.</p>

  <p><b>*Двухстворчатое окно, оно считается как одно окно* Минимальное число - 5. Если у вас меньше окон - закажите уборку однокомнатной квартиры и нужное количество окон</b></p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
