<h2 mat-dialog-title><b>Химчистка</b></h2>
<mat-dialog-content class="mat-typography">
  <hr />
  <p>Главным требованием к правильному уходу за предметами обстановки является безопасность. Текстиль, кожа, комбинированные материалы часто плохо реагируют на моющие средства. При попытке смыть свежее пятно самостоятельно, владельцы мягкой мебели рискуют повредить обивку, получить ужасные разводы, нарушить равномерный оттенок.</p>
  <p>Очистка мягкой мебели бытовыми средствами редко достигает необходимого результата. Чтобы не рисковать внешним видом своей мебели – свяжитесь с нами, мы выполним чистку мягкой мебели на дому быстро и качественно. Это сэкономит ваше время и станет гарантией безупречного результата, с которым не сравнится ни один вид ухода.</p>
  <p>Компания LA CLEAN осуществляет оперативную, профессиональную химчистку мебели и ковровых покрытий в удобное для клиентов время и по самым доступным ценам.</p>
  <p>Химчистка мебели на дому специальными составами, применение мощного вакуумного аппарата, услуги опытных специалистов вернут любимой обстановке новизну, свежесть, яркость. Соблюдение технологий гарантирует блестящие результаты. А средства, применяемые нашими сотрудниками, обеспечивают безопасность процедуры, чистоту и дезинфекцию поверхностей.</p>
  <p>Выбор технологии зависит от типа ткани обивки. В своей работе мы применяем:</p>
  <p>Влажную чистку. Используем специальные пылесосы и жидкие растворители. После такой уборки можно очистить до 99% загрязнений.</p>
  <p>Чистку паром. Специальные генераторы пара отделяют грязь от ткани и удаляют ее. Паровая чистка обладает обеззараживающим эффектом.</p>
  <p>Сухая чистка. При такой чистке используются специальные сорбенты, которые впитывают загрязнения и удаляют их из ткани без использования воды.</p>
  <p>Если диван выполнен из дорогой ткани или декоративной фурнитурой, то такую мебель чистят сухим или паровым способом.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
