<section class="cleanInfo">
	<p>Чем чаще уборка, <span>тем выше скидка</span></p>
	<div class="cleanInfo-options">
		<div>
			<div class="cleanInfo-options_button-container">
				<button>-20%</button>
				<span>раз в неделю</span>
			</div>
			<div class="cleanInfo-options_button-container">
				<button>-15%</button>
				<span>раз в две недели</span>
			</div>
			<div class="cleanInfo-options_button-container">
				<button>-10%</button>
				<span>раз в три неделю</span>
			</div>
			<button>разовая уборка</button>
		</div>
	</div>
	<div class="cleanInfo-order"></div>
</section>
